//- mixin btn(text)
//-     a(class='mt-2.5 py-2.5 px-8 rounded-md bg-white text-black border border-solid border-sky-200 no-underline' href='#')= text

mixin btn(ele, text, href)
    - var cls="mt-2.5 py-2.5 px-8 rounded-md bg-white text-black border border-solid border-sky-200 no-underline"
    if ele == 'a'
        a(class=cls href=href)= text
    else if ele == 'input'
        input(type='submit', value='提交', class=cls)


mixin h1(text)
    h1(class='text-3xl my-5 font-semibold')= text

mixin h3(text, nickname)
    if nickname
        h3(class='text-xl my-4 font-semibold')= text+nickname
    else
        h3(class='text-xl my-4 font-semibold')= text

mixin hr()
    div(class='my-5 mx-auto h-px max-w-[95%] bg-[#999] opacity-50')

mixin warning()
    header(class='bg-red-200 text-red-700 p-2.5 text-center text-lg')
        strong 注意！本站為練習用網站，因教學用途刻意忽略資安的實作，註冊時請勿使用任何真實的帳號或密碼。

mixin form-input(item, type, name)
    div(class='mb-2.5')
        span=item
        input(type=type, name=name, class='p-px border border-solid border-sky-200')

mixin cm(nickname, time, content)
    div(class='flex my-0 mx-auto pt-5 min-h-[70px]')
        div(class='h-[50px] min-w-[50px] rounded-full bg-sky-100')
        div(class='w-full ml-2.5')
            div(class='w-full overflow-hidden')
                span(class='text-blue-400 font-bold')= nickname
                span  
                span(class='')= time
            div(class='mt-2')= content
        </div>
    </div>