extends layout

block content
  h1(class='bg-slate-300 text-lime-500 font-bold') #{title}
  p(class='text-gray-500') Welcome to #{title}
  p(class='text-red-500') Welcome to #{title}
  p(class='text-blue-500') Welcome to #{title}
  p(class='text-slate-500') Welcome to #{title}
